@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 15vh;
}
.header{
  position: fixed;
  top: 0;
  background-color: #D7263D;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.left-bar{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.right-bar{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.player-container>.player-icon-background{
  background-color: white;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}
.player-container{
  width: 70%;
 height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #8d1a29;
  align-items: center;
  justify-content: space-evenly;

}
.search-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.banner-add{
  position: absolute;
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
 width: 100%;
  left: 0;
  height: 100px;
 border-top: 1px solid #e3e3e3;
  bottom: 50%;
  box-shadow: 0px -3px 20px -8px #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.banner-add-text{
  font-size: 12px;
}
.add-icon-button{
  all: unset;

  bottom: 0;
  right: 0;
  margin: 20px;
  height: 40px;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 2px;
  color: white;
  background-color: #D7263D;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.add-icon-button:hover{
  transform: scale(1.1);
}
.add-icon{
  width: 30px;
}
div.current>h2{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div.current>h2>div.curveBorder{
  width: 70%;
  margin-top: 10px;
  border-bottom: 5px solid #D7263D;
  border-radius: 10px;
}
.current{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.talks{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-talks{
  background-color: black;
  width: 90%;
  height: 200px;
}
.talk-name{
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 700;
}
.progress-container{
  border: 3px solid #D7263D;
  height: 20px;
  width: 80%;
  border-radius: 20px;
  padding-left: 2px;
  display: flex;
  justify-content: start;
  align-items: center;
  
}
.progress {
  width: 70%;
  height: 70%;
  background-color: #D7263D;
  border-radius: 20px;
}

.listen-button{
  all: unset;
  margin-top: 10px;
  background-color: #D7263D;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 25px;
  padding: 5px 60px;
  border-radius: 50px;
}
nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  background-color: #D7263D;
  color: white;
  
  box-shadow: 0px -3px 20px -8px #000000;
}
.nav-item{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  
  height: 100%;
  width: 100%;
}
.modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 200%;
  background-color: rgba(0,0,0,0.5);
}
.close-banner{
  color: blue;
  text-decoration: underline;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  cursor: pointer;
  font-size: 15px;
}

.share-button{

  all: unset;
  margin: 15px 0;
  border: 3px solid black;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
}
.bell-icon{
  background-color: black;
  border-radius: 50px;
  height: 100%;
  width: 30px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}